body{
    margin: 0px;
}

@font-face {
  font-family: 'IL';
  src: url('/fonts/I-L.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DL';
  src: url('/fonts/DL.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
