/* page.module.css */
.container {
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  color: white;
  margin: 0;
}